server {
    listen              80;
    listen              443 ssl;
    server_name         localhost;
    root                /var/www/html;

    ssl_certificate     {{ nginx_ssl_certificate }};
    ssl_certificate_key {{ nginx_ssl_certificate_key }};
}