Node For AD authentication:

1) Download the Active Directory plugin
2) Set in Global System Security

Domain Name: AD domain name
Domain controller: IP or hostname:3268
Site: blank	
Bind DN: jenkinsad@ad.example.com
Bind Password: 
TLS Configuration: trust
